<div>
  <br />
  <div class="container">
    <br />
    <div class="container">
      <div
        fxLayout="column"
        fxLayoutGap="20px"
        fxLayout.gt-md="row"
        fxLayoutAlign="space-around center"
        class="content"
      >
        <div class="blocks">
          <button
            button="submit"
            mat-raised-button
            color="primary"
            routerLink="/people/view"
          >
            Back
          </button>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <div style="color: black"><h1>Person Detail</h1></div>
          </mat-card-title>
          <mat-card-content>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Name</span
                >
              </div>
              <input
                type="text"
                class="form-control"
                aria-label="default"
                [value]="dataSource.name"
                aria-describedby="inputGroup-sizing-default"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Height</span
                >
              </div>
              <input
                type="text"
                class="form-control"
                aria-label="default"
                [value]="dataSource.height"
                required
                aria-describedby="inputGroup-sizing-default"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Mass</span
                >
              </div>
              <input
                type="text"
                class="form-control"
                aria-label="default"
                [value]="dataSource.mass"
                required
                aria-describedby="inputGroup-sizing-default"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Hair Color</span
                >
              </div>
              <input
                type="text"
                class="form-control"
                aria-label="default"
                [value]="dataSource.hair_color"
                required
                aria-describedby="inputGroup-sizing-default"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Skin Color</span
                >
              </div>
              <input
                type="text"
                class="form-control"
                aria-label="default"
                [value]="dataSource.skin_color"
                required
                aria-describedby="inputGroup-sizing-default"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Gender</span
                >
              </div>
              <input
                type="text"
                class="form-control"
                aria-label="default"
                [value]="dataSource.gender"
                required
                aria-describedby="inputGroup-sizing-default"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Birth Year</span
                >
              </div>
              <input
                type="text"
                class="form-control"
                aria-label="default"
                [value]="dataSource.birth_year"
                required
                aria-describedby="inputGroup-sizing-default"
              />
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
