<!-- <div class="container">
  <h2>People</h2>

   <div class="form-group">
      <label>Search People</label>
      <input
        type="text"
        class="form-control mb-4"
        placeholder="Search"
        [(ngModel)]="data"
        id="listSearch"
      />
    </div>

    <div class="d-grid gap-2 d-md-block" style="line-height: 50px">
      <a class="btn btn-primary btn-sm" [routerLink]="'/account/create'"
        >Create</a
      >
    </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="
          let person of people;
          index as i;
          let even = even;
          let odd = odd
        "
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ person.name }}</td>

        <button class="btn btn-primary" title="edit account">View</button>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
