/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  background-image: url("./assets/images/image2.jpeg");
  background-size: cover;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

.mat-card {
  background: rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}

.card {
  min-width: 80%;
  background-color: #17a2b8 !important;
  opacity: 0.8;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

a {
  cursor: pointer;
}

.spin {
  margin: 0 auto;
  align-self: center;
  left: 50%;
  margin-left: -4em;
}

.home-card {
  max-width: 100%;
  align-content: center;
  display: inline-flex !important;
}
.content {
  padding: 16px;
}
.img {
  object-fit: cover;
  width: 100% !important;
  height: 80%;
}

.mat-progress-spinner {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.mat-header-cell {
  font-size: 18px;
  font-weight: 500;
}
