<div class="container">
  <div class="content">
    <mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <p color="primary">Chandrayog Yadav (Developer)</p>
          </mat-card-title>
          <mat-card-subtitle
            >Chandrayog is a Software Developer, Data analyst and an experienced
            professional from Sydney, NS and currently working as an application
            developer with Navigate Startup House, Sydney, NS. He has
            contributed to several projects helping with the implementation of
            GraphQL, .Net and Angular on several projects. He also plays guitar
            and love to read books. For more details check out<a
              href="https://www.linkedin.com/in/chandrayog-yadav-44435726/"
              target="_blank"
            >
              LinkedIn profile
            </a>
            and
            <a href="https://github.com/Chandrayog" target="_blank">
              Github profile
            </a>
          </mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          class="img"
          src="./assets/images/chandrayog.jpeg"
          alt="image"
        />
      </mat-card>
    </mat-card>
  </div>
</div>
